<nav role="navigation" aria-label="{{site.title}}">

    {% if site_nav.count %}
            {% include 'modules/navigation.twig' with {'nav_obj': navigation.site, 'menu_name': site.name, 'menu_class':'site-navigation', 'toggle': true} %}
    {% endif %}

    {% do action('bb_sidebar_site_nav') %}
</nav>
