<div class="sidebar" role="complementary">
    {% if network_sidebar_message %}

        {% set sidebar_message = {
            'id' : 'network-sidebar-message',
            'class' : 'sidebar widget-area',
            'widgets' : network_sidebar_message
        } %}
        {% include 'modules/widget-area.twig' with {'widgets' : sidebar_message} %}

    {% endif %}

    {% if sidebar_widgets_extra %}

        {% include 'modules/widget-area.twig' with {'widgets' : sidebar_widgets_extra} %}

    {% endif %}

    {% if sidebar_widgets %}

        {% include 'modules/widget-area.twig' with {'widgets' : sidebar_widgets} %}

    {% endif %}

    <aside>
        {% do action('bb_sidebar_aside') %}
    </aside>


</div>
