<div class="fl-post-carousel-navigation" aria-label="carousel buttons">
    <a class="carousel-prev" href="#" aria-label="previous" role="button">
        <div class="fl-post-carousel-svg-container">
            <span class="visuallyhidden">Previous</span>
            <svg class="icon icon--arrow prev">
                <use xlink:href="#icon-arrow" class="gobackarrow"></use>
            </svg>
        </div>
    </a>
    <a class="carousel-next" href="#" aria-label="next" role="button">
        <div class="fl-post-carousel-svg-container">
            <span class="visuallyhidden">Next</span>
            <svg class="icon icon--arrow next">
                <use xlink:href="#icon-arrow" class="gobackarrow"></use>
            </svg>
        </div>
    </a>
</div>