<div class="post-excerpt">
    {% do action('meerloop_before_excerpt') %}
    {% if catopts.do_display('thumb') %}
        {% include 'modules/post_thumbnail.twig' %}
    {% endif %}
    <p>{{ post.get_preview(50, null, __('Continue reading &raquo;')) }}</p>
    {% do action('meerloop_after_excerpt') %}
</div><!-- .post-excerpt -->